@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&family=Poppins:wght@400;600;700;800&family=Work+Sans:ital,wght@0,500;1,500&display=swap');

* {
    box-sizing: border-box;
    margin: 10px;

}

:root {
    --primary-color: #3d5cb8;
    --primary-color-dark: #334c99;
    --main_color: #64748b;
    --secend_coler: #0f172a;
    --extra-light: #f1f5f9;
    --max-width: 1200px;

}

.parent {}

body {
    font-family: "Poppins", sans-serif;

}


/* start nav */
nav {
    /* border: 3px solid black; */
    display: flex;
    justify-content: space-between;
    width: var(--max-width);
    align-items: center;
}

nav .logo {
    /* border: 3px solid black; */

    font-weight: 700;
    font-size: 19px;
    text-transform: uppercase;
    margin-top: 10px;
}

nav ul {
    /* border: 3px solid black; */
    list-style: none;
    display: flex;
    align-items: center;

}

nav li {
    /* margin: 0; */

}

nav a {
    color: var(--main_color);

    text-decoration: none;
}

nav a:hover {
    color: var(--secend_coler);

}

nav button {
    background-color: var(--primary-color);
    color: var(--extra-light);
    border-radius: 20px;
    width: 120px;
    height: 40px;
    font-size: 1rem;
    font-weight: 400;

    border: transparent;

}

nav button:hover {
    background-color: var(--primary-color-dark);
}

/* end nav  */


header {
    width: var(--max-width);
    height: fit-content;
    /* border: 4px solid black; */
    display: grid;
    justify-content: center;
    align-items: center;
}

.head {
    position: relative;
}

header h3 {
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 45px;
    color: var(--secend_coler);
    line-height: 50px;
}

/* start main */
/* section one */
main .one {
    border: 1px solid var(--extra-light);
    border-radius: 2rem;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.booking__nav {
    max-width: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: var(--extra-light);
    border: 5px;
}

.booking__nav span {
    flex: 1;
    padding: 1rem 2rem;
    font-weight: 600;
    color: var(--main_color);
    border-radius: 15px;
    cursor: pointer;
}

.booking__nav span:nth-child(2) {
    background-color: var(--primary-color);
    color: var(--extra-light);
    border-radius: 1rem;

}

form {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr) auto;
    gap: 1rem;
}

.one .input_content {
    width: 100%;
}

.one .form_group {
    display: flex;
    align-items: center;
    gap: 1rem;


}

.one .form_group span {
    padding: 10px;
    font-size: 1.5rem;
    color: var(--main_color);
    background-color: var(--extra-light);
    border-radius: 1rem;


}

.one .input_group {
    width: 100%;
    position: relative;
}

.one label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--main_color);
    pointer-events: none;
    transition: 0.3s;

}

.one input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    color: var(--main_color);
}
.one input:focus ~ label{
    font-size: 0.8rem;
top: 0;

}
.one .form_group p{
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: var(--main_color);
  
    
}
 button{
    padding: 10px;
    color: var(--extra-light);
    border: none;
    font-size: 1.5rem;
    height: 45px;
    border-radius: 1rem;
    background-color: var(--primary-color);

}
/* section tow */